################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChutzpahAngular/bin
/ChutzpahAngular/node_modules
/ChutzpahAngular/obj/Debug
/packages
